/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* general */
body {
  font-family: "Source Code Pro", monospace;
}

#slider {
  height: 60vh;
}
#slider .carousel-inner, #slider .carousel-item{
  height: 100%;
}
img {
  height: 100%;
   width: 100%;
  
}

.container {
  max-width: 700px;
}


.carousel-caption {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.337);
  position: absolute;
  top: 0px;
  height: 120px;
}


